.footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.author {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.link {
    color: white;
}